/* Register.css */
.cont {
  text-align: center;
  margin: 10%;
}

h2 {
  font-size: 24px;
  color: #007bff;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition:background-color 0.3s ease;}

button:hover {
     background-color: #0056b3;
}

.register-form {
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #000; /* Borde con color de borde gris */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interior */
  max-width: 300px; /* Ancho máximo del formulario */
  margin: 0 auto; /* Centra horizontalmente el formulario */
  text-align:center; /* Alineación de texto en el centro */
}

.register-form h2 {
  font-size: 24px; /* Tamaño de fuente */
  color: #007bff; /* Color de texto, ajusta según tus necesidades */
  margin-bottom: 10px; /* Espaciado inferior */
  border-bottom: 2px solid #333; /* Línea divisoria con el mismo color que el texto */
  padding-bottom: 5px; /* Espaciado inferior para la línea divisoria */
}
